#login-box h2 {
	color:black;
}

#application-status {
	font-weight: bold;
}

div.applicant a {
	clear:both;
	margin-bottom: 20px;
}

div#delete-account-box.box {
	padding: 4em 2em;
}

.superuser-notifs {
	padding: 0;
}

.superuser-notifs hr {
	margin: 0;
}

.superuser-notifs a {
	margin-bottom:0; 
	padding: 3em 0;
}

.superuser-notifs div {
	margin-bottom:0; 
	padding: 2.25em 0;
}

#pending-transactions hr {
	background-color: #3D9970;
}

#pending-delete-requests hr {
	background-color: #0074D9;
}

#pending-applicant-requests hr {
	background-color: #082DB3;
}


#pending-warnings hr {
	background-color: #D9B32A;
}