{% extends "base.html" %}

{% block content %}
<section class="hero is-info">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Approval Request from {{ info['user_id'] }}
    </h1>
  </div>
</div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      	<div class="column is-4"></div>
      	<div class="column is-4">
		<div class="notification">
			<form method="POST" action={{  url_for('applicant_approval', applicant_id=applicant_id)  }}>
				<h2 class="title is-4">
			     	Applicant Information
			    </h2>
			  	<ul>
			  	<li><strong>Full Name:</strong> {{ info['first_name'] }} {{ info['last_name'] }}</li>
			  	<li><strong>Email:</strong> {{ info['email'] }}</li>
			  	<li><strong>Phone Number:</strong> {{ info['phone'] }}</li>
			  	<li><strong>Credit Card Number:</strong> {{ info['credit_card'] }}</li>
			  	<li><strong>Type of User:</strong> {{ info['type_of_user'] }}</li>
			  	</ul><br>
			  	<div class="columns">
			  		<div class="column is-2"></div>
	      			<div class="column is-8 has-text-centered">
	      				{{ form.hidden_tag() }}
			            {% with messages = get_flashed_messages() %}
			              {% if messages %}
			                  <div class=flashes>
			                    {% for message in messages %}
			                        {{ message }}
			                    {% endfor %}
			                  </div>
			              {% endif %}
			            {% endwith %}
						<div class="field">
							<div class="label is-medium">{{ form.decision.label }}</div>
					        <div class="control has-text-centered">
					        	<div class="select">{{ form.decision(placeholder="Select a decision", class="is-medium") }}</div>
					        </div>
					        {% if form.decision.errors %}
					          {% for error in form.decision.errors %}
					            <p class="is-danger">{{ error }}</p>
					          {% endfor %}
					        {% endif %}
				      	</div>
				      	<div class="field">
					        <div class="label">{{ form.reason.label }}</div>
					        <div class="control">
					        	{{ form.reason(class_="textarea") }}
					        </div>
					        {% if form.reason.errors %}
					            {% for error in form.reason.errors %}
					              <p class="is-danger">{{ error }}</p>
					            {% endfor %}
					        {% endif %}
				      	</div>
				      	{{ form.submit(class="button is-link") }}
					</div>
				</div>
			</form>
		</div>
	  	</div>
	</div>
  </div>
 </section>

{% endblock %}

