{% extends "base.html" %}

{% block content %}
</section>
	<div class ="hero-body">
  		<div class="container has-text-centered">
  			<div class="columns">
  				<div class="column is-one-third">
  					<br><br><br><br>
  					<figure class="image is-200x200">
  						<div style="display: inline-table;">
  							<img src="http://www.pvhc.net/img181/sxzoorhwdrndjypewwew.png" alt="Shopping Cart">
  						</div>
  					</figure>
  				</div>
  				<div class="column is-one-third">
  					<h1 class="title is-2">System Description</h1>
  				  	<div class="media-content">
				    <div class="content">
				    	<p>
				        <strong>{{ client_info.first_name }} {{ client_info.last_name }}</strong> <small><a>@{{ demand_info.client_username }}</a></small>
				        <br>
				        <small><strong>Posted:</strong> {{ demand_info.date_posted }}</small>
				        <br><small><strong>Bidding Deadline:</strong> {{ demand_info.bidding_deadline }}</small>
				        <br>
				        <small><strong>Specifications:</strong></small><br>
				        	{{ demand_info.specifications }}
				      	</p>
				      	<div class="has-text-centered">
							<div class="columns">
				  				<div class="column is-one-third">
							      	<div style="margin:0; float:left;" class="field is-horizontal has-addons">
							      		<p class="control">
										    <span class="select">
										      	<select>
											        <option>$</option>
											        <option>£</option>
											        <option>€</option>
										      	</select>
										    </span>
										</p>
									  	<p class="control">
									    	<input class="input" type="text" placeholder="Bid amount">
									  	</p>
								    </div>
								</div>
								<div class="column is-one-third">
								    <div class="field">
									  	<p class="control">
									    	<input class="input" type="text" placeholder="Proposed Deadline">
									  	</p>
								    </div>
								</div>
							</div>
							<a class="button is-primary">Bid on this system demand</a>
						</div>
					</div>
					</div>
  				</div>
  				<div class="column is-one-third">
	  				<h1 class="title is-2"><strong>Current Bid: </strong> ${{ lowest_bid }}</h1>

	  				{% for bid_info in bids_info %}
	  				<article class="media">
					  <figure class="media-left">
					    <p class="image is-32x32">
					      <img src="https://bulma.io/images/placeholders/64x64.png">
					    </p>
					  </figure>
					  <div class="media-content">
					    <div class="content">
					      <p>
					        <strong>{{ bidders_info[bid_info.developer_username].first_name }} {{ bidders_info[bid_info.developer_username].last_name }} </strong> <small><a href="{{ bidders_info[bid_info.developer_username].link_to_user }}">@{{ bid_info.developer_username }}</a></small> <small>45m</small>
					      </p>
					    </div> 
					  </div>
					  <div class="media-right">
					    <a class="button is-link">${{ bid_info.bid_amount }}</a>
					  </div>
					</article>
	  				{% endfor %}
			  	</div>
  			</div>
  		</div>
  	</div>
{% endblock %}