{% extends "base.html" %}

{% block content %}
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Listing
        </h1>
        <h2 class="subtitle">
          Browse and bid on projects
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      {% if session['role'] == 'client' %}
      <a href="/createDemand" class="button is-primary">Create a New Demand</a>
      <br><br>
      {% endif %}

      <div class="columns">
        <div class="column is-7">
          {% for demand in demands_info %}
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>
                      <a href="{{ demand.link_to_demand }}">{{ demand.title }}</a>
                    </strong>
                    <!-- Posted by information -->
                    <small>Posted by <a href="{{ demand.link_to_client }}">@{{ demand.client_username }}</a> on {{ demand.date_posted }}</small>
                    <br>

                    <!-- specifications/description of demand -->
                    {{ demand.specifications }}
                    <br>

                    <!-- current lowest bid, if there is one -->
                    {% if demand.min_bid is not none %}
                      <small><em>Lowest bid: {{ demand.min_bid }}</em></small>
                    {% else %}
                      <small><em>No bids were made yet!</em></small>
                    {% endif %}
                    <br>

                    <!-- bidding deadline information -->
                    {% if demand.bidding_deadline_passed %}
                      <small><em>Closed on {{ demand.bidding_deadline }}</em></small>
                    {% else %}
                      <small><em>Closes: {{ demand.bidding_deadline }}</em></small>
                    {% endif %}
                  </p>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>

        <div class="column is-5">
          <aside class="menu">
            <p class="menu-label">
              Filter
            </p>

            <form action="/browse" method="GET" id="filter">
              <div class="field">
                <ul class="menu-list">
                  <li>
                    <label><strong>By Date Posted</strong></label>
                    <div class="control">
                      <div class="columns">
                        <div class="column is-half">
                          <small>After This Date</small>
                          <input class="input" type="date" name="start_date">
                        </div>
                        <div class="column is-half">
                          <small>Before This Date</small>
                          <input class="input" type="date" name="end_date">
                        </div>
                      </div>
                    </div>
                    <br>
                  </li>

                  <li>
                    <label><strong>By Client</strong></label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Client's username" name="client">
                    </div>
                    <br>
                  </li>

                  <li>
                    <label><strong>By Client Rating</strong></label>
                    <div class="control">
                      <input type="radio" name="rating4">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                      <input type="radio" name="rating3">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                      <input type="radio" name="rating2">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                      <input type="radio" name="rating1">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                    </div>
                    <br>
                  </li>

                  <li>
                    <label><strong>By Bid Price</strong></label>
                    <div class="control">
                      <div class="columns">
                        <div class="column is-half">
                          <small>Minimum Bid</small>
                          <input class="input" type="number" placeholder="0.00" name="min_bid">
                        </div>
                      </div>
                    </div>
                    <br>
                  </li>

                  <li>
                    <label><strong>By Tags</strong></label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Tags" name="tags">
                    </div>
                    <br>
                  </li>

                  <li>
                    <div class="control">
                      <label class="checkbox">
                      <input type="checkbox" name="show_active">
                      <strong>Show Active Only</strong></label>
                    </div>
                    <br>
                  </li>

                  <li>
                    <div class="control">
                      <button type="submit" class="button is-link" form="filter">Filter</button>
                    </div>
                  </li>

                </ul>
              </div>
            </form>
          </aside>
        </div>
      </div>
    </div>
  </section>
{% endblock %}