{% extends "base.html" %}

{% block content %}
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Listing
        </h1>
        <h2 class="subtitle">
          Browse and bid on projects
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          {% for demand in demands_info%}
            <article class="media">
              <figure class="media-left">
               <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </p>
              </figure>

              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>
                      <a href="{{ demand.link_to_demand }}">{{ demand.title }}</a>
                    </strong>
                    <small>Posted by <a href="{{ demand.link_to_client }}">@{{ demand.client_username }}</a> on {{ demand.date_posted }}</small>
                    <br>
                    {{ demand.specifications }}
                    <br>
                    {% if demand.bidding_deadline_passed %}
                      <small><em>Closed on {{ demand.bidding_deadline }}</em></small>
                    {% else %}
                      <small><em>Closes: {{ demand.bidding_deadline }}</em></small>
                    {% endif %}
                  </p>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>

        <div class="column is-4">
          <aside class="menu">
            <p class="menu-label">
              Filter
            </p>

            <div class="field">
              <ul class="menu-list">
                <li>
                  <label><strong>By Date Posted</strong></label>
                  <div class="control">
                    <div class="columns">
                      <div class="column is-half">
                        <small>Before</small>
                        <input class="input" type="date">
                      </div>
                      <div class="column is-half">
                        <small>After</small>
                        <input class="input" type="date">
                      </div>
                    </div>
                  </div>
                  <br>
                </li>

                <li>
                  <label><strong>By Client</strong></label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Client's username">
                  </div>
                  <br>
                </li>

                <li>
                  <label><strong>By Client Rating</strong></label>
                  <div class="control">
                    <input type="radio" name="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                    <input type="radio" name="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                    <input type="radio" name="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                    <input type="radio" name="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i><small> &amp; Up</small><br>
                  </div>
                  <br>
                </li>

                <li>
                  <label><strong>By Bid Price</strong></label>
                  <div class="control">
                    <div class="columns">
                      <div class="column is-half">
                        <small>Min Price</small>
                        <input class="input" type="number" placeholder="0.00">
                      </div>
                      <div class="column is-half">
                        <small>Max Price</small>
                        <input class="input" type="number" placeholder="99.99">
                      </div>
                    </div>
                  </div>
                  <br>
                </li>

                <li>
                  <label><strong>By Tags</strong></label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Tags">
                  </div>
                  <br>
                </li>

                <li>
                  <div class="control">
                    <button class="button is-link">Filter</button>
                  </div>
                </li>
                
              </ul>
            </div>

          </aside>
        </div>
      </div>
    </div>
  </section>
{% endblock %}