{% extends "base.html" %}

{% block content%}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Create a System Demand
        </h1>
      </div>
    </div>
  </section>

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
          <h2 class="subtitle">
            Please provide the following information:
          </h2>
          <form method="POST" action="/createDemand">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="flashes">
                  {% for message in messages %}
                    {{ messages }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            <!-- System Title -->
            <div class="field">
              <div class="control">
                {{ form.title(placeholder="System Title", class="form-control input is-medium") }}
              </div>
              {% if form.title.errors %}
                {% for error in form.title.errors %}
                  <p class="is-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>

            <!-- Tags -->
            <div class="field">
              <div class="control has-icons-left">
                {{ form.tags(placeholder="Tags",
                class="form-control input is-medium") }}
                <span class="icon is-small is-left">
                  <i style="color:grey" class="fa fa-plus"></i>
                </span>
              </div>
              {% if form.tags.errors %}
                {% for error in form.title.errors %}
                  <p class="is-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>

            <!-- System description -->
            <div class="field">
              <div class="control">
                {{ form.specifications(placeholder="System description", class="form-control textarea is-medium", rows="10") }}
              </div>
              {% if form.specifications.errors %}
                {% for error in form.specifications.errors %}
                  <p class="is-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>

            <div class="columns">
              <!-- Bidding Deadline -->
              <div class="column is-half">
                <div class="field">
                  <div class="control">
                    Bidding Deadline<br>
                    {{ form.bidding_deadline(placeholder="mm/dd/yyyy", class="form-control input", type="date") }}
                  </div>
                  {% if form.bidding_deadline.errors %}
                    {% for error in form.bidding_deadline.errors %}
                      <p class="is-danger">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>

              <!-- Submission Deadline -->
              <div class="column is-half">
                <div class="field">
                  <div class="control">
                    Submission Deadline<br>
                    {{ form.submission_deadline(placeholder="mm/dd/yyyy", class="form-control input", type="date") }}
                  </div>
                  {% if form.submission_deadline.errors %}
                    {% for error in form.submission_deadline.errors %}
                      <p class="is-danger">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="has-text-centered">
              {{ form.submit(class="button is-info is-medium") }}
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}