{% extends "base.html" %}

{% block content %}
<section class="hero is-info">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Welcome back, {{ info['first_name'] }}!
    </h1>
    <h2 class="subtitle">
      Here's what happened recently.
    </h2>
  </div>
</div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h1 class="title is-4">
          Applications to Approve
        </h1>
        {% if not pending_applicants %}
          <div class="notification is-warning">
            There are no applications to approve.
          </div>
        {% endif %}
        {% for applicant in pending_applicants %}
        <div class="applicant">  
          <a href={{  url_for('applicant_approval', applicant_id=applicant) }} style="margin-right:10px; padding: 0 30px 0 30px;" class="button is-info is-fullwidth has-text-centered">
            Applicant User ID: {{ applicant }}
          </a>
        </div>
        {% endfor %}
        

        <br>
        <div class="button">See All</div>
        <hr>
        <h1 class="title is-4">
          Warning Removal Requests
        </h1>
        {% if not protests %}
        <div class="notification is-warning">
          There are no pending warning protests.
        </div>
        {% endif %}
        {% for protest in protests %}
        <div class="applicant">  
          <a href={{  url_for('protest_approval', warning_id=protest) }} style="margin-right:10px; padding: 0 30px 0 30px;" class="button is-warning is-fullwidth has-text-centered">
            Warning No. {{ protest }}
          </a>
        </div>
        {% endfor %}
        <br>
        <div class="button">See All</div>
      </div>
      <div class="column is-1"></div>
      <div class="column is-7">
        <h1 class="title is-4">
          Transactions to Approve
        </h1>
        <div id="pending-transactions" class="notification is-primary">
        {% if not pending_transactions %}
        
          There are no pending transactions.
        {% endif %}
        {% for transaction in pending_transactions %} 
            <a href={{  url_for('transaction_approval', transaction_id=transaction['transaction_id']) }} " class="button is-fullwidth is-primary has-text-centered">
              <ul>
              <li>Transaction ID: {{ transaction['transaction_id'] }}</li>
              <li>Recipient: {{ transaction['recipient'] }}</li>
              <li>Sender: {{ transaction['sender'] }}</li>
              </ul>
            </a><hr>
        {% endfor %}
        </div>
        
        <hr>
        <h1 class="title is-4">Account Deletion Requests</h1>
        <article class="media">
          {% for delete_request in pending_delete_requests %}
            <hr>
            <div class="transaction">  
              <a href=# style="margin-right:10px; padding: 30px 30px 30px 30px;" class="button is-info is-fullwidth has-text-centered">
                <ul>
                <li>Delete Request ID: {{ delete_request['delete_request_id'] }}</li>
                <li>Username: {{ delete_request['username'] }}</li>
                </ul>
              </a>
            </div>
          {% endfor %}
        </article>
        </div>
      </div>
    </div>
    
</section>
{% endblock %}