{% extends "base.html" %}

{% block content %}
  <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome back, {{ first_name }}!
      </h1>
      <h2 class="subtitle">
        Here's what happened recently.
      </h2>
    </div>
  </div>
</section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <h2 class="title is-4">
            Current Projects
          </h2>
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        <small>Due: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article>  
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        <small>Due: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article> 
                <br>
                <div class="button">See All</div>
                <hr>
          <h2 class="title is-4">
            Bidding Projects
          </h2>
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        <small>Closes: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article>  
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                                                <br>
                        <small>Closes: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article> 
                <br>
                <div class="button">See All</div>
        </div>
        <div class="column is-8">
          <h2 class="title is-4" style="display:inline-flex">
            Notifications
          </h2> 
          <a class="button" href="/dashboard/notifications" style="margin-left:10px">See All </a>
          {% for notif in notifications %}
          <div class="notification">
            <p class="content">
            {{ notif.message|safe }}
            <br>
            <small>{{ notif.date_sent }}</small>
            </p>
          </div>
          {% endfor %}

          <div class="notification is-info">
            <h2 class="title is-4">Suggested Projects</h2>
                      <article class="media">
            <figure class="media-left">
             <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Project Name</strong> <small>Posted by Client on 1/1/2018 11:59 PM</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                  <br>
                  <small><strong>Current Lowest Bid: $1500</strong></small>
                  <br>
                  <small><em>Closes: 2/1/2018 11:50 PM</em></small>
                </p>
              </div>
            </div>
          </article>
                    <article class="media">
            <figure class="media-left">
             <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Project Name</strong> <small>Posted by Client on 1/1/2018 11:59 PM</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                  <br>
                  <small><strong>Current Lowest Bid: $1500</strong></small>
                  <br>
                  <small><em>Closes: 2/1/2018 11:50 PM</em></small>
                </p>
              </div>
            </div>
          </article>
          </div>
          
          <div class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">{{ recs.client_rec_des }}</p>
                {% for name in recs.client_rec %}
                  <p class="title">{{ name }}</p>
                {% endfor %}
              </div>
            </div>

             <div class="level-item has-text-centered">
              <div>
                <p class="heading">{{ recs.dev_rec_des }}</p>
                {% for name in recs.dev_rec %}
                  <p class="title">{{ name }}</p>
                {% endfor %}
              </div>
            </div>
          </div> <!-- level -->
        </div>
      </div>

    </div>
  </section>
{% endblock %}