{% extends "base.html" %}

{% block content %}

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome back, {{ info['first_name'] }}!
      </h1>
      <h2 class="subtitle">
        Your application status is <span id="application_status">{{ info['status'] }}</span>
      </h2>
    </div>
  </div>
</section>

{% if info['status'] == 'approved' %}
<div class ="hero-body">
  <div class="container ">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-half has-text-centered">
        <form method="POST" action= {{  url_for('dashboard_applicant') }} > 
          <h1 class="title is-4">Choose a username and password</h1>

            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class=flashes>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                  </div>
              {% endif %}
            {% endwith %}
            
            <div class="field">
              <div class="control">
                <div class="select">{{ form.use_prev_credentials(class="is-medium") }}</div>
              </div>
            </div>

            <!-- Username -->
            <div class="field">
                <div class="control">
                  {{ form.username(placeholder="Username", class="form-control input is-medium") }}
                </div>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                      <p class="is-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Password -->
            <div class="field">
              <div class="control">
                {{ form.password(placeholder="Password (must be at least 8 characters)", class="form-control input is-medium") }}
              </div>
              {% if form.password.errors %}
                  {% for error in form.password.errors %}
                    <p class="is-danger">{{ error }}</p>
                  {% endfor %}
              {% endif %}
            </div>
            <!-- Confirm Password -->
            <div class="field">
              <div class="control">{{ form.confirm_password(placeholder="Confirm Password", class="form-control input is-medium") }}</div>
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                      <p class="is-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="has-text-centered">
              {{ form.submit(class="button is-link") }}
            </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% elif info['status'] == 'rejected' %}
<div class ="hero-body">
  <div class="container ">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-half has-text-centered">
        <div class="notification is-danger">
          Reason for rejection: {{ info['reason'] }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}






{% endblock %}