{% extends "base.html" %}

{% block content %}
<section class="hero is-info">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Welcome back, {{ info['first_name'] }}!
    </h1>
    <h2 class="subtitle">
      Here's what happened recently.
    </h2>
  </div>
</div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">

        <!-- Application Approvals -->
        <h1 class="title is-4">
          Applications to Approve
        </h1>
        <div id="pending-applicant-requests" class="superuser-notifs notification is-link">
          {% if not pending_applicants %}
          <div class="is-info is-fullwidth has-text-centered">
            There are no pending applications to approve.
          </div>
          {% else %}
          {% for applicant in pending_applicants %}
              <a href={{  url_for('applicant_approval', applicant_id=applicant['user_id']) }} class="button is-link is-fullwidth has-text-centered">
                <ul>
                  <li>Applicant User ID: {{ applicant['user_id'] }}</li>
                  <li>Name: {{ applicant['first_name'] }} {{ applicant['last_name'] }}</li>
                </ul>
              </a><hr>
          {% endfor %}
          {% endif %}
        </div>
        <hr>

        <!-- Warning Removal Requests -->
        <h1 class="title is-4">
          Warning Removal Requests
        </h1>
        <div id="pending-warnings" class="superuser-notifs notification is-warning">
          {% if not protests %}
          <div class="is-info is-fullwidth has-text-centered">
            There are no pending warning protests.
          </div>
          {% else %}
          {% for protest in protests %}
              <a href={{  url_for('protest_approval', warning_id=protest['warning_id']) }} class="button is-warning is-fullwidth has-text-centered">
            <ul>
              <li>Warning No. {{ protest['warning_id'] }}</li>
              <li>Username: {{ protest['warned_user'] }}</li>
            </ul>
          </a><hr>
          {% endfor %}
          {% endif %}
        </div>
     
      </div>

      <div class="column is-6">
        <!-- Transaction Approvals -->
        <h1 class="title is-4">
          Transactions to Approve
        </h1>
        <div id="pending-transactions" class="superuser-notifs notification is-primary">
          {% if not pending_transactions %}
            There are no pending transactions.
          {% endif %}
          {% for transaction in pending_transactions %} 
              <a href={{  url_for('transaction_approval', transaction_id=transaction['transaction_id']) }} " class="button is-fullwidth is-primary has-text-centered">
                <ul>
                <li>Transaction ID: {{ transaction['transaction_id'] }}</li>
                <li>Recipient: {{ transaction['recipient'] }}</li>
                <li>Sender: {{ transaction['sender'] }}</li>
                </ul>
              </a><hr>
          {% endfor %}
        </div>
        
        <hr>
        <!-- Account Deletion Approvals -->
        <h1 class="title is-4">Account Deletion Requests</h1>
        <div id="pending-delete-requests" class="superuser-notifs notification is-info">
          {% if not pending_delete_requests %}
          <div class="is-info is-fullwidth has-text-centered">
            There are no pending account deletion requests.
          </div>
          {% endif %}
          {% for delete_request in pending_delete_requests %}
              <a href= {{ url_for('delete_account_approval', delete_request_id=delete_request['delete_request_id']) }} class="button is-info is-fullwidth has-text-centered">
                <ul>
                <li>Delete Request ID: {{ delete_request['delete_request_id'] }}</li>
                <li>Username: {{ delete_request['username'] }}</li>
                </ul>
              </a><hr>
          {% endfor %}
        </div>

        </div>
        </div>
      </div>
    </div>
    
</section>
{% endblock %}