{% extends "base.html" %}

{% block content %}
  <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome back, {{ first_name }}!
      </h1>
      <h2 class="subtitle">
        Here's what happened recently.
      </h2>
    </div>
  </div>
</section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <h2 class="title is-4">
            Current Projects
          </h2>
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        <small>Due: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article>  
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        <small>Due: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article> 
                <br>
                <div class="button">See All</div>
                <hr>
          <h2 class="title is-4">
            Bidding Projects
          </h2>
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        <small>Closes: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article>  
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                                                <br>
                        <small>Closes: 1/1/2018 12:00 AM</small>
                      </p>
                    </div>
                  </div>
                </article> 
                <br>
                <div class="button">See All</div>
        </div>
        <div class="column is-8">
          <h2 class="title is-4" style="display:inline-flex">
            Notifications
          </h2> 
          <a class="button" href="/dashboard/notifications" style="margin-left:10px">See All </a>
          {% for notif in notifications %}
          
          {% if notif.read_status == True %}
            <div class="notification is-light">
          {% else %}
            <div class="notification is-success">
          {% endif %}
            <p class="content">
            {{ notif.message|safe }}
            <br>
            <small>{{ notif.date_sent }}</small>
            </p>
          </div>
          {% endfor %}

          <hr>

          <div class="notification is-info">
            <h2 class="title is-4">{{ recs.client_rec_des }}</h2>
            {% for user in recs.client_rec %}
              <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ user.username }}</strong>
                      <br>
                      {{ user.about }}
                    </p>
                  </div>
                </div>
              </article>
            {% endfor %}
          </div> <!-- suggestion box-->

          <div class="notification is-primary">
            <h2 class="title is-4">{{ recs.dev_rec_des }}</h2>
            {% for user in recs.dev_rec %}
              <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ user.username }}</strong>
                      <br>
                      {{ user.about }}
                    </p>
                  </div>
                </div>
              </article>
            {% endfor %}
          </div> <!-- suggestion box-->
        </div>
      </div>

    </div>
  </section>
{% endblock %}