{% extends "base.html" %}

{% block content %}
<section class="section">
	<article class="media">
	  <figure class="media-left">
	   <p class="image is-64x64">
	    <img src="https://bulma.io/images/placeholders/128x128.png">
	  </p>
	  </figure>
	  <div class="media-content">
	    <div class="content">
	      <p>
	        <strong>Project Name</strong> <small>Posted by Client</small>
	        <br>
	        <small>Closes: 1/1/2018 12:00 AM</small>
	      </p>
	    </div>
	  </div>
	</article>
</section>
{% endblock %}