{% extends "base.html" %}

{% block content %}
<section class="section">
	<div class="container">
		<div class="columns">
				<div class="column is-12">
				<a href="/dashboard" class="button">Back</a>
			</div>
		</div>
		<div class="columns">
			<div class="column is-8">
			<h2 class="title">Incoming Transactions</h2>
			{% if not incoming %}
			<p>You do not have any incoming transactions.</p>
			{% endif %}
			{% for transaction in incoming %}
			<article class="media notification">
			  <div class="media-content">
			    <div class="content">
			      <p>
			        Transaction #{{ transaction.transaction_id }} 
			        <br>
			        <small><b>Status</b>: {{ transaction.status }}</small>
			        <br>
			        <small><b>Sender</b>: {{ transaction.sender }}</small>
			        <br>
			        <small><b>Amount</b>: ${{ transaction.amount }}</small>
			      </p>
			    </div>
			  </div>
			</article>
			{% endfor %}
			<hr>
			<h2 class="title">Outgoing Transactions</h2>
			{% if not outgoing %}
				<p>You do not have any outgoing transactions.</p>
			{% endif %}
			{% for transaction in outgoing %}
			<article class="media notification">
			  <div class="media-content">
			    <div class="content">
			      <p>
			        Transaction #{{ transaction.transaction_id }} 
			        <br>
			        <small><b>Status</b>: {{ transaction.status }}</small>
			        <br>
			        <small><b>Recipient</b>: {{ transaction.recipient }}</small>
			        <br>
			        <small><b>Amount</b>: ${{ transaction.amount }}</small>
			      </p>
			    </div>
			  </div>
			</article>
			{% endfor %}
		</div>

		<div class="column is-4">
			<div class="box">
			<p><b>Current Balance</b>: ${{ balance }} </p>
			<br>
			<a href="/dashboard/transactions/add" class="button is-primary">Add Funds</a> 
			</div>
		</div>
		</div> <!-- columns -->
	</div> <!-- container -->
</section>
{% endblock %}