{% extends "base.html" %}

{% block content %}
<section class='section'>
	<div class="container">
		<a href="/dashboard" class="button" style="margin-bottom:10px">Back</a>
		<h2 class="title">Notifications ({{ unread }} unread messages) </h2>
	{% for notif in notifications %}
          {% if notif.read_status == True %}
            <div class="notification is-light">
          {% else %}
            <div class="notification is-success">
          {% endif %}
            <p class="content">
            {{ notif.message }}
            <br>
            <small>{{ notif.date_sent }}</small>
            </p>
          </div>
   {% endfor %}
	</div>
</section>
{% endblock %}