{% extends "base.html" %}

{% block content %}
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-gapless">
            <div class="column is-one-quarter">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
            </div>

            <div class="column is-three-quarters">
              <h1 class="title">
                {{ info.first_name }} {{ info.last_name }}
              </h1>
              <h2 class="subtitle">
                {{ info.type_of_user }}
              </h2>
              <p class="subtitle">
                {% for full_star in range(rating) %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                {% endfor %}
                {% if half_star %}
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  {% for empty_star in range(4 - rating) %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  {% endfor %}
                {% else %}
                  {% for empty_star in range(5 - rating) %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  {% endfor %}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <div class="notification">
              <h2 class="title is-4">About</h2>
              <p class="content">
                {{ info.about }}
              </p>
            </div>

            <div class="notification">
              <h2 class="title is-4">Interests</h2>
              <p class="content">
                {{ info.interests }}
              </p>
            </div>

            <div class="notification">
              {% if info.type_of_user == 'client' %}
                <h2 class="title is-4">Projects Posted</h2>
              {% elif info.type_of_user == 'developer' %}
                <h2 class="title is-4">Past Projects</h2>
              {% endif %}
              {% for project in projects %}
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><a href="{{ project.link_to_demand }}">{{ project.title }}</a></strong> <small>Posted by <a href="{{ project.link_to_client }}">{{ project.client_username }}</a></small>
                        <br>
                        {{ project.specifications }}
                      </p>
                    </div>
                  </div>
                </article>
              {% endfor %}
            </div>
          </div>

          <div class="column is-4">
            <div class="notification">
              <h2 class="title is-4">Contact</h2>
              <div class="content">
                <strong>Email:</strong> {{ info.email }}
                <br>
                <strong>Phone:</strong> {{ info.phone }}
                <br>
                <strong>Portfolio: </strong> {{ info.portfolio }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}