{% extends "base.html" %}

{% block content %}
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-gapless">
            <div class="column is-one-quarter">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
            </div>

            <div class="column is-three-quarters">
              <h1 class="title">
                Ariel Li
              </h1>
              <h2 class="subtitle">
                Developer
              </h2>
              <p class="subtitle">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <div class="notification">
              <h2 class="title is-4">About</h2>
              <p class="content">
                Hello, I am Ariel! I am a software developer from New York, and I love to code! My specialty is
                front-end development, and I have experience in using the frameworks React...
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </p>
            </div>

            <div class="notification">
              <h2 class="title is-4">Past Projects</h2>
                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                      </p>
                    </div>
                  </div>
                </article>

                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                      </p>
                    </div>
                  </div>
                </article>

                <article class="media">
                  <figure class="media-left">
                   <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Project Name</strong> <small>Posted by Client</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                      </p>
                    </div>
                  </div>
                </article>
            </div>
          </div>
          <div class="column is-4">
            <div class="notification">
              <h2 class="title is-4">Contact</h2>
                <div class="content">
                  <strong>Email:</strong> arielli@jaj.com
                  <br>
                  <strong>Phone: </strong> 12345678
                  <br>
                  <strong>Resume</strong>
                </div>
              <h2 class="title is-4">Sample</h2>
                <div class="content">
                  My work can be found here.
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}