<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JAJ Turk System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
	</head>
	<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
	<p class="navbar-item">JAJ Turk</p>
	</div>
	<div class="navbar-start">
	<!-- navbar items -->
	  <a class="navbar-item" href="/browse">Browse</a>
	  <a class="navbar-item" href="/browse">Apply</a>
	</div>
	</div>
	</nav>

	<section class="hero is-warning">
	<div class="hero-body">
	  <div class="container">
	    <h1 class="title">
	      Protest a warning
	    </h1>
	  </div>
	</div>
	</section>
	<div class ="hero-body">
		<div class="container ">
  			<div class="columns">
  				<div class="column is-one-quarter">
  				</div>
  				<div class="column is-half">
  					<h1 class="title is-2">
						File protest against warning
				    </h1>
					<div class="field">
					  <label class="label">Select warning to protest</label>
					  <div class="control">
					    <span class="select">
					      <select>
					        <option>Warning 1</option>
					        <option>Warning 2</option>
					      </select>
					    </span>
					  </div>
					</div>

					<div class="field">
						<textarea class="textarea" placeholder="Give reason for protesting warning" rows="10"></textarea>
					</div>
					
					<div class="has-text-centered">
					<a class="button is-info has-text-centered">Submit</a>
					</div>

				</div>
			</div>
		</div>
	</div>
  </body>
</html>