{% extends "base.html" %}

{% block content %}
	<section class="hero is-warning">
	<div class="hero-body">
	  <div class="container">
	    <h1 class="title">
	      Protest Warning#{{ warning_id }}
	    </h1>
	  </div>
	</div>
	</section>
	<div class ="hero-body">
		<div class="container ">
  			<div class="columns">
  				<div class="column is-one-quarter">
  				</div>
  				<div class="column is-half">
  					<h1 class="title is-2">
						File a protest against a warning with a reason
				    </h1>
					<div class="field">
				        <div class="control">
				        	{{ form.reason(class_="textarea") }}
				        </div>
				        {% if form.reason.errors %}
				            {% for error in form.reason.errors %}
				              <p class="is-danger">{{ error }}</p>
				            {% endfor %}
				        {% endif %}
			      	</div>
				    {{ form.submit(class="button is-link") }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}